#foto{
    border-radius: 50%;
    border: solid 12px tomato;
    max-width: 50%;
}
#button{
    background-color: tomato;
    color: white;
    padding: 30px;
    border-radius: 40px;
}
.bloc1{
    width: 521px;
    background-color: rgb(228, 208, 208);
    text-align: center;
    margin-top: 30px;
}
.bold{
    font-weight: bold;
    padding: 0;
}
.bloc2{
    background-color: tomato;
    width: 721px;
    text-align: center;}
.bloc3{
    background-color: rgb(207, 176, 176);
    width: 921px;
    text-align: center;
    margin-bottom: 30px;
}
.case {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px tomato;
}
.case img{
    text-align: left;
    max-width: 21%;
    float: left;
    vertical-align: middle;
    padding:23px;
}

body{
    background-image: url("https://cf.ltkcdn.net/web-design/images/orig/204538-2261x1326-HTML.jpg");
    color: black;
    background-color: rgb(235,235,235);
    font-family: 'Inter', sans-serif;
}
h1{
    color: tomato;
    font-weight: bold;
}
div{
    box-shadow: 10px 6px 1px tomato;
    margin: 30px auto;
    padding: 30px 30px;
    border-radius: 15px;
}
p{
    font-size: 16px;
    text-align: justify;
}
li{
    list-style: none;
    display: inline-block;
    width:100px;
}
a{
 text-decoration: none;
 color:rgb(235,235,235);
}
li a:hover {
  color: grey;
}
a:visited {
  color: rgb(235,235,235);
}